<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/searchPage.css">
    <title>Country Information - Search Country</title>
</head>
<body>
<h1>Let's get some information of some countries</h1>
<a href="index.html">Back to country list</a>
<img src="../assets/photo-1502920514313-52581002a659.jfif" alt="" id="second-world-map"/>


<form id="form">
    <input type="search" id="search-country" placeholder="Search for a country"/>
    <button id="button" type="submit">Search</button>
</form>

<article id="container">
</article>

<script type="module" src="../scripts/searchPage.js"></script>
</body>
</html>